<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onSubmit(true)">
      <mat-icon>clear</mat-icon>
    </button>
    <span>Update Graph</span>
    <span class="example-spacer"></span>
    <button mat-button color="#fff" (click)="onSubmit(false)">SAVE CHANGES</button>
  </mat-toolbar-row>
</mat-toolbar>

<form connect="formState.form">
  <div mat-dialog-content>
    <mat-select ngControl ngModel name="chartType" placeholder="Select chart type">
      <mat-option *ngFor="let chart of charts" [value]="chart">
        {{ chart }}
      </mat-option>
    </mat-select>
  </div>
  <!-- <ng-template connectArray let-index connectArrayOf="newTypes">
    <div [ngModelGroup]="index">
      <mat-select ngControl ngModel name="chartType2" placeholder="Select chart type 2">
        <mat-option *ngFor="let chart of charts" [value]="chart">
          {{ chart }}
        </mat-option>
      </mat-select>
    </div>
  </ng-template> -->
</form>

