
.spacer {
flex: 1 1 auto;
}

.dialog-container .mat-dialog-container {
    padding: 0;
}

.mat-form-field {
    width: 40%;
}

.pieData .mat-form-field {
    width: 30%;
}

.container {
    padding: 2%;
}